<div class="container">
  <h2>Editing <%= @organisation.name %>'s details</h2>
  <%= render 'form', organisation: @organisation %>
  <br>
  <%= link_to 'Show', @organisation, class: "btn btn-success btn-sm" %>
  <%= link_to 'Back', organisations_path, class: "btn btn-success btn-sm" %>
</div>