<div class="container">
  <div class="jumbotron">
    <h1>Organisations</h1>
    <p>Work with some of the best organisations!</p>
  </div>

  <div class="flex_container">
    <% @organisations.each do |organisation| %>
      <div class="well card">
        <h3><%= organisation.name %></h3>
        <h4><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> <%= organisation.jobs.count %> jobs</h4>
        <%= link_to 'Show', organisation, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <br>
  <%= link_to 'New Organisation', new_organisation_path, class: "btn btn-success" %>
</div>